name: Upload release to PyPI

on:
  push:
    tags:
      - '*'
    branches:
      - master

permissions:
  contents: read

jobs:
  build-linux:
    name: Build on Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Build wheel for x86_64
        uses: PyO3/maturin-action@v1
        with:
          target: x86_64
          args: --release --out dist --zig
          sccache: true
      - name: Build wheel armv7
        uses: PyO3/maturin-action@v1
        with:
          target: armv7
          args: --release --out dist --zig
          sccache: true
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheels-linux-${{ matrix.platform.target }}
          path: dist

  build-macos:
    name: Build on macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Build wheel
        uses: PyO3/maturin-action@v1
        with:
          target: aarch64-apple-darwin
          args: --release --out dist --zig
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheels-macos-${{ matrix.platform.target }}
          path: dist

  # upload:
  #   name: Publish package distributions to PyPI
  #   runs-on: ubuntu-latest
  #   needs: [build-linux, build-macos]
  #   environment:
  #     name: pypi
  #     url: https://pypi.org/p/plutils
  #   permissions:
  #     id-token: write
  #   steps:
  #     - uses: actions/download-artifact@v6
  #     - name: Publish package distributions to PyPI
  #       uses: pypa/gh-action-pypi-publish@release/v1
